version: '3.8'

services:
  web:
    build: .
    container_name: sistema_stock_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: sistema_stock_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: tienda
      MYSQL_DATABASE: sistema_stock
      MYSQL_USER: admin
      MYSQL_PASSWORD: tienda
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
